/* Body element uchun umumiy uslublar */
header h1 a{
    color: #4CAF50;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  /* Header element uchun uslublar */
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  /* Asosiy kontent uchun uslublar */
  .main-content {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  /* Tugma uchun uslublar */
  .button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Tugma hover holatida */
  .button:hover {
    background-color: #45a049;
  }
  